################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Search.By.String.Extensions.Test/bin/Debug/net6.0
/.vs
/Search.By.String.Extensions/obj
/Search.By.String.Extensions/bin/Debug/net6.0
/Search.By.String.Extensions/bin/Release
